{
  "arrowParens": "avoid",
  "importOrder": [
    "<TYPES>",
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "<TYPES>^[.]",
    "^@/(.*)$",
    "^[./]"
  ],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "printWidth": 120,
  "semi": false,
  "tabWidth": 2,
  "useTabs": false
}
